#
#
# ci.yml
# LearnCHANGELOG
#
# Created by west on 30/11/25.
#
name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    name: Build and Test
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      
      - name: Select Xcode 16.4
        run: sudo xcode-select -s /Applications/Xcode_16.4.app

      - name: Show Xcode version
        run: xcodebuild -version
        
      - name: List available simulators
        run: xcrun xctrace list devices
      
      - name: Build
        run: |
         xcodebuild clean build \
            -project LearnCHANGELOG.xcodeproj \
            -scheme LearnCHANGELOG \
            -destination 'platform=iOS Simulator,name=iPhone 16,OS=18.5'' \
            CODE_SIGN_IDENTITY="" \
            CODE_SIGNING_REQUIRED=NO
            
