#
//  ci.yml
//  LearnCHANGELOG
//
//  Created by west on 30/11/25.
//

name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    name: Build and Test
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      
      - name: Select Xcode 16.0
        run: sudo xcode-select -s /Applications/Xcode_16.0.app

      - name: Show Xcode version
        run: xcodebuild -version
      
      - name: Build
        run: |
         xcodebuild clean build \
            -project LearnCHANGELOG.xcodeproj \
            -scheme LearnCHANGELOG \
            -destination 'platform=iOS Simulator,name=iPhone 15' \
            CODE_SIGN_IDENTITY="" \
            CODE_SIGNING_REQUIRED=NO
            
