#
#  develop.yml
#  LearnCHANGELOG
#
#  Created by west on 04/11/25.

name: Development Changelog

on:
  pull_request:
    types: ["closed"]
    branches: ["develop"]
    
permissions:
  contents: write
  
  
jobs:
  changelog-dev:
      if: github.event.pull_request.merged == true
      runs-on: ubuntu-latest
      
      
      steps:
        - name: Checkout repository
          uses: actions-checkout@v4
          with:
            ref: develop
            fetch-depth: 0
            
        - name: Get PR Info
          id: pr_info
          run: |
            echo "PR_NUMBER=${{ github.event.pull_request.number }}" >> $GITHUB_OUTPUT
            echo "PR_TITLE=${{ github.event.pull_request.title }}" >> $GITHUB_OUPUT
            echo "PR_AUTHOR=${{ github.event.pull_request.user.login }}" >> $GITHUB_OUTPUT
            echo "MERGED_AT=${{ github.event.pull_request.merged_at }}" >> $GITHUB_OUTPUT
            echo "BASE_SHA=${{ github.event.pull_request.base.sha }}" >> $GITHUB_OUTPUT
            echo "MERGE_SHA=${{ github.event.pull_request.merge_commit_sha }}" >> $GITHUB_OUTPUT
        
        - name: Generate development version string
          id: version
          run: |
            DATE=$(date +'%Y.%m.%d')
            COUNT=$(git rev-list --count HEAD)
            VERSION="develop-${DATE}.${COUNT}"
            echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
            
        - name: Collect commit messages
          id: collect
          run: |
            COMMITS=$(git log ${{ steps.pr_info.outputs.BASE_SHA }}..${{ steps.pr_info.outputs.MERGE_SHA }} --pretty=format:"%s|%h")
            
            
            FEATURES=""
            FIXES=""
            CHORE=""
            REFACTOR=""
            OTHERS=""
            
            while IFS= read -r line; do
              MSG=$(echo "$line" | cut -d '|' -f1)
              HASH=$(echo "$line" | cut -d '|' -f2)
              LINK="https://github.com/${{ github.repository }}/commit/$HASH"
              
              if [[ "$MSG" == feat:* ]]; then
                FEATURES="$FEATURES\n* ${MSG#feat:} ($LINK)"
              elif [[ "$MSG" == fix:* ]]; then
                FIXES="$FIXES\n* ${MSG#fix:} ($LINK)"
              elif [[ "$MSG" == chore:* ]]; then
                CHORE="$CHORE\n* ${MSG#chore:} ($LINK)"
              elif [[ "$MSG" == refactor:* ]]; then
                REFACTOR="$REFACTOR\n* ${MSG#refactor:} ($LINK)"
              else
                OTHERS="$OTHERS\n* $MSG ($LINK)"
              fi

              done << "$COMMITS"

              {
                echo "FEATURES<<EOF"
                echo -e "$FEATURES"
                echo "EOF"
                echo "FIXES<<EOF"
                echo -e "$FIXES"
                echo "EOF"
                echo "CHORE<<EOF"
                echo -e "$CHORE"
                echo "EOF"
                echo "REFACTOR<<EOF"
                echo -e "$REFACTOR"
                echo "EOF"
                echo "OTHERS<<EOF"
                echo -e "$OTHERS"
                echo "EOF"
              } >> $GITHUB_OUTPUT
        
        - name: Write CHANGELOG-DEV.md
          run: |
            VERSION="${{ steps.version.outputs.VERSION }}"
            PR_NUM="${{ steps.pr_info.outputs.PR_NUM }}"
            TITLE="${{ steps.pr_info.outputs.TITLE }}"
            MERGE="${{ steps.pr_info.outputs.MERGED_SHA }}"
            AUTHOR="${{ steps.pr_info.outputs.PR_AUTHOR }}"
            REPO="https://github.com/${{ github.repository }}"
            COMPARE="$REPO/compare/${{ steps.pr_info.outputs.BASE_SHA }}..${{ steps.pr_info.outputs.MERGE_SHA }}"

            {
              echo "## [$VERSION] ($COMPARE) ($MERGED"
              echo ""
              [[ -n "${{ steps.collect.outputs.FEATURES }}" ]] && echo "### Features" && echo -e "${{ steps.collect.outputs.FEATURES }}" && echo ""
              [[ -n "${{ steps.collect.outputs.FIXES }}" ]] && echo "### Bug Fixes" && echo -e "${{ steps.collect.outputs.FIXES }}" && echo ""
              [[ -n "${{ steps.collect.outputs.CHORE }}" ]] && echo "### Chores" && echo -e "${{ steps.collect.outputs.CHORE }}" && echo ""
              [[ -n "${{ steps.collect.outputs.REFACTOR }}" ]] && echo "### Refactors" && echo -e "${{ steps.collect.outputs.REFACTOR }}" && echo ""
              [[ -n "${{ steps.collect.outputs.OTHERS }}" ]] && echo "### Others" && echo -e "${{ steps.collect.outputs.OTHERS }}" && echo ""
              echo ""
              echo "---"
              echo ""
            } | cat - CHANGELOG-DEV.md > temp && mv temp CHANGELOG-DEV.md
        
        - name: Commit and push changelog
          run: |
            git config user.name "github-actions[bot]"
            git config user.email "github-actions[bot]@users.noreply.github.com"
            git add CHANGELOG-DEV.md
            git commit -m "chore(dev-changelog): update ${{
              steps.version.outputs.VERSION }}"
            git push origin develop



