#
#  develop.yml
#  LearnCHANGELOG
#
#  Created by west on 04/11/25.

name: Development Changelog

on:
  pull_request:
    branches: ["develop"]
    types: ["closed"]
    
permissions:
  contents: write
  pull-requests: write
  
  
jobs:
  changelog-dev:
      if: github.event.pull_request.merged == true
      runs-on: ubuntu-latest
      
      
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4
          with:
            fetch-depth: 0
            
        - name: Get PR Info
          id: pr
          run: |
            echo "number=${{ github.event.pull_request.number }}" >> $GITHUB_OUTPUT
            echo "title=${{ github.event.pull_request.title }}" >> $GITHUB_OUTPUT
            echo "author=${{ github.event.pull_request.user.login }}" >> $GITHUB_OUTPUT
            echo "merged_at=${{ github.event.pull_request.merged_at }}" >> $GITHUB_OUTPUT
            echo "base_sha=${{ github.event.pull_request.base.sha }}" >> $GITHUB_OUTPUT
            echo "merge_sha=${{ github.event.pull_request.merge_commit_sha }}" >> $GITHUB_OUTPUT
        
        - name: Generate development version string
          id: version
          run: |
            DATE=$(date +'%Y.%m.%d')
            COUNT=$(git rev-list --count HEAD)
            VERSION="develop-${DATE}.${COUNT}"
            echo "value=$VERSION" >> $GITHUB_OUTPUT
            
        - name: Collect commit messages
          id: collect
          run: |
            COMMITS=$(git log ${{ steps.pr.outputs.base_sha }}..${{ steps.pr.outputs.merge_sha }} --pretty=format:"%s|%h")
            
            FEATURES=""
            FIXES=""
            CHORE=""
            REFACTOR=""
            OTHERS=""
            
            while IFS= read -r line; do
              MSG=$(echo "$line" | cut -d '|' -f1)
              HASH=$(echo "$line" | cut -d '|' -f2)
              LINK="https://github.com/${{ github.repository }}/commit/$HASH"
              
              case "#MSG" in
                feat:*)
                  FEATURES="$FEATURES\n* ${MSG#feat: } ($LINK)"
                  ;;
                fix:*)
                  FIXES="$FIXES\n* ${MSG#fix: } ($LINK)" 
                  ;;
                chore:*)
                  CHORE="$CHORE\n* ${MSG#chore: } ($LINK)"
                  ;;
                refactor:*)
                  REFACTORS="$REFACTORS\n* ${MSG#refactor: } ($LINK)"
                  ;;
                *)
                  OTHER="$OTHERS\n* $MSG ($LINK)"
                  ;;
              esac
              done << "$COMMITS"

              {
                echo "features<<EOF"
                echo -e "$FEATURES"
                echo "EOF"
                echo "fixes<<EOF"
                echo -e "$FIXES"
                echo "EOF"
                echo "chores<<EOF"
                echo -e "$CHORE"
                echo "EOF"
                echo "refactors<<EOF"
                echo -e "$REFACTOR"
                echo "EOF"
                echo "others<<EOF"
                echo -e "$OTHERS"
                echo "EOF"
              } >> $GITHUB_OUTPUT
        
        - name: Write CHANGELOG-DEV.md
          run: |
            VERSION="${{ steps.version.outputs.value }}"
            BASE="${{ steps.pr.outputs.base_sha }}"
            MERGE="${{ steps.pr.outputs.merge_sha }}"
            COMPARE_URL="https://github.com/${{ github.repository }}/pull/${BASE}..${MERGE}"

            {
              echo "## [$VERSION] ($COMPARE_URL)
              echo ""
              [[ -n "${{ steps.collect.outputs.features }}" ]] && echo "### Features" && echo -e "${{ steps.collect.outputs.features }}" && echo ""
              [[ -n "${{ steps.collect.outputs.fixes }}" ]] && echo "### Bug Fixes" && echo -e "${{ steps.collect.outputs.fixes }}" && echo ""
              [[ -n "${{ steps.collect.outputs.chores }}" ]] && echo "### Chores" && echo -e "${{ steps.collect.outputs.chores }}" && echo ""
              [[ -n "${{ steps.collect.outputs.refactors }}" ]] && echo "### Refactors" && echo -e "${{ steps.collect.outputs.refactors }}" && echo ""
              [[ -n "${{ steps.collect.outputs.others }}" ]] && echo "### Others" && echo -e "${{ steps.collect.outputs.others }}" && echo ""
              echo ""
              echo "---"
              echo ""
            } | cat - CHANGELOG-DEV.md > temp && mv temp CHANGELOG-DEV.md
        
        - name: Commit and push changelog
          run: |
            git config user.name "github-actions[bot]"
            git config user.email "github-actions[bot]@users.noreply.github.com"
            git add CHANGELOG-DEV.md
            
            git commit -m "chore(dev): update changelog ${{ steps.version.outputs.value }}"
            git push origin develop



