#
#  release.yml
#  LearnCHANGELOG
#
#  Created by west on 30/11/25.
#

name: Release Changelog

on:
  push:
    branches:
      - main
      - release/*
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          target-branch: ${{ github.ref_name }}
          release-type: simple
          changelog-types: |
           [
             { "type": "feat", "section": "Features" },
             {
